<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Search Petitions</title>
  </head>
  <body>
    <h1>Search Petitions</h1>
    <form method="get" action="/petitions/search-results">
      <label for="search">Search for petitions:</label>
      <input type="text" id="search" name="search" />
      <button type="submit">Search</button>
    </form>
    <br />
    <a href="/petitions/view">All Petitions</a>
    <br />
    <a href="/petitions/create">Create a New Petition</a>
    <br />
    <a href="/petitions/search">Search Petition</a>
    <br />
  </body>
</html>
